<!DOCTYPE html>
<html lang="gl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|pleste: Compoñente ${component.name} (nº ${component.id})|"></title>
    <th:block th:insert="~{includes}" />
</head>
<body>
    <header th:insert="~{header}"></header>
    <main class="container mt-5">
        <h1 th:text="|Compoñente ${component.name} (nº ${component.id})|"></h1>
        <p th:text="|${component.description}|"></p>
        <p><strong>Baseado en:</strong> <a th:href="|/template?id=${template.id}|" th:text="|${template.name} (nº ${template.id})|"></a></p>
        <a class="btn btn-info" role="button" th:href="|/editcomponent?id=${component.id}|">Modificar</a>
        <a class="btn btn-info" role="button" th:href="|/deleteelement?type=component&id=${component.id}|">Eliminar</a>
        <h2>Campos</h2>
        <p><i>Os campos obrigatorios atópanse en negriña</i></p>
        <table class="table">
            <tr>
                <th>Nome</th><th>Tipo</th><th>Valor</th>
            </tr>
            <tr th:each="field: ${component.fields}">
                <td th:if="${field.templateField.mandatory}"><strong th:text="|${field.templateField.name}|"></strong></td>
                <td th:unless="${field.templateField.mandatory}" th:text="|${field.templateField.name}|"></td>
                <td th:text="|${field.templateField.type}|"></td>
                <td th:if="${#strings.toString(field.templateField.type) == 'LINK'}"><a th:href="|/component?id=${field.link}|" th:text="${links.get(field.link)}"></a></td>
                <td th:unless="${#strings.toString(field.templateField.type) == 'LINK'}" th:text="|${field.content}|"></td>
            </tr>
        </table>
    </main>
</body>
</html>
