<!DOCTYPE html>
<html lang="gl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|pleste: Modelo ${template.name} (nº ${template.id})|"></title>
    <th:block th:insert="~{includes}" />
</head>
<body>
    <header th:include="~{header}"></header>
    <main class="container mt-5">
        <h1 th:text="|Modelo ${template.name} (nº ${template.id})|"></h1>
        <p th:text="|${template.description}|"></p>
        <a class="btn btn-info" role="button" th:href="|/edittemplate?id=${template.id}|">Modificar</a>
        <a class="btn btn-info" role="button" th:href="|/deleteelement?type=template&id=${template.id}|">Eliminar</a>
        <p><i>Os campos obrigatorios atópanse en negriña</i></p>
        <ul th:each="field: ${template.fields}">
            <li th:if="${field.mandatory}"><strong th:text="|${field.name}: ${field_enum_map.get(field.type)}|"></strong></li>
            <li th:unless="${field.mandatory}" th:text="|${field.name}: ${field_enum_map.get(field.type)}|"></li>
        </ul>
        <h2>Compoñentes baseados neste modelo</h2>
        <a class="btn btn-info mt-2 mb-2" role="button" th:href="|/newcomponent?template=${template.id}|">Engadir un compoñente</a>
        <ul th:each="component: ${components}">
            <li><a th:href="|/component?id=${component.id}|" th:text="|${component.name} (nº ${component.id})|"></a></li>
        </ul>
    </main>
</body>
</html>
