<!DOCTYPE html>
<html lang="gl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|pleste: Modificar ${component_name} (nº ${component_id})|"></title>
    <th:block th:insert="~{includes}" />
</head>
<body>
    <header th:include="~{header}"></header>
    <main class="container mt-5">
        <form method="POST"><label for="component_name">Nome do compoñente:</label>
            <div class="input-group">
                <input class="form-control" type="text" required id="component_name" name="component_name" th:value="${component_name}" />
            </div><label for="component_description">Descripción do compoñente:</label>
            <div class="input-group">
                <textarea class="form-control" required id="component_description" name="component_description" th:text="${component_description}"></textarea>
            </div>
            <h2 class="mt-2">Campos</h2>
            <p><i>Os campos obrigatorios atópanse en negriña</i></p>
            <p>Para os campos de ligazóns, engadir o número do compoñente</p>
            <table class="table">
                <tr>
                    <th>Nome</th><th>Tipo</th><th>Valor</th>
                </tr>
                <tr th:each="field: ${fields}">
                    <td th:if="${field.templateField.mandatory}"><label th:for="|field_${field.templateField.name}|"><strong th:text="|${field.templateField.name}|"></strong></label></td>
                    <td th:unless="${field.templateField.mandatory}"><label th:for="|field_${field.templateField.name}|" th:text="|${field.templateField.name}|"></label></td>
                    <td th:text="|${field_enum_map.get(field.templateField.type)}|"></td>
                    <td th:switch="${#strings.toString(field.templateField.type)}">
                        <div class="input-group mb-3">
                            <input th:case="'LINK'" th:name="|field_${field.templateField.name}|" th:id="|field_${field.templateField.name}|" th:value="${values.get(field.templateField.name)}" type="number">
                            <input th:case="'DATETIME'" th:name="|field_${field.templateField.name}|" th:id="|field_${field.templateField.name}|" th:value="${values.get(field.templateField.name)}" type="datetime-local">
                            <textarea th:case="'TEXT'" th:name="|field_${field.templateField.name}|" th:id="|field_${field.templateField.name}|" th:text="${values.get(field.templateField.name)}" ></textarea>
                            <input th:case="'NUMBER'" th:name="|field_${field.templateField.name}|" th:id="|field_${field.templateField.name}|" type="text"
                                   pattern="[+-]?[0-9]+(.[0-9]+)?" title="Acéptanse valores decimales da forma -1234.345" th:value="${values.get(field.templateField.name)}">
                        </div>
                    </td>
                </tr>
            </table>
            <input class="btn btn-outline-primary" type="submit" value="Gardar"/>
        </form>
        <a th:href="|/component?id=${component_id}|" class="btn btn-outline-primary mt-3">Volver</a>
    </main>
</body>
</html>