<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="gl">
<head>
    <title>pleste: PLataforma de xEstión de configuraciónS TÉcnicas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <header>
        <div id="user"></div>
    </header>
    <main>
        <a href="/newtemplate">Crear un novo modelo</a>
        <h2>Modelos xa creados</h2>
        <ul th:each="template: ${templates}">
            <li><a th:href="|/template?id=${template.id}|" th:text="|Modelo ${template.name} (nº ${template.id})|"></a></li>
        </ul>
    </main>
</body>
</html>