<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="gl">
<head>
    <title>pleste: Xestión de modelos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <th:block th:insert="~{includes}" />
    <script src="js/filter.js"></script>
</head>
<body>
    <header th:insert="~{header}"></header>
    <main class="container mt-5">
        <input id="skip-field" th:value="${skip}" hidden />
        <h1>Modelos</h1>
        <a class="btn btn-info" role="button" href="/newtemplate">Engadir</a>
        <label class="float-right">
            Filtrar
            <input type="text" class="form-control" id="filter_input">
        </label>
        <ul class="mt-2" id="list">
            <li th:each="template: ${templates}"><a th:text="${template.name}" th:href="|/template?id=${template.id}|"></a></li>
        </ul>
        <div>
            <p class="float-left btn btn-primary" onclick="move_list(false)">Anteriores</p>
            <input id="count-field" title="Elementos por páxina" class="form-control float-left" th:value="${count}" type="number" style="max-width: 7%" hidden/>
            <p class="float-right btn btn-primary" onclick="move_list(true)">Seguintes</p>
        </div>
    </main>
</body>
</html>