<!DOCTYPE html>
<html lang="gl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>pleste: Novo compoñente</title>
    <script src="js/newcomponent.js"></script>
    <th:block th:insert="~{includes}" />
</head>
<body>
    <header th:insert="~{header}"></header>
    <main class="container mt-5">
        <label for="template_select">Modelo a usar:</label>
        <div class="input-group">
            <select class="custom-select" id="template_select">
                <option th:each="template: ${templates}" th:selected="${selected_template} == ${template.id}" selected th:text="|${template.id} - ${template.name}|" th:value="${template.id}"></option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="cambiar_modelo()">Cambiar</button>
            </div>
        </div>
        <hr class="w-100" />
        <form method="POST">
            <label for="component_name">Nome do compoñente:</label>
            <div class="input-group">
                <input class="form-control" type="text" required id="component_name" name="component_name" />
            </div><label for="component_description">Descripción do compoñente:</label>
            <div class="input-group">
                <textarea class="form-control" required id="component_description" name="component_description"></textarea>
            </div>
            <h2 class="mt-2">Campos</h2>
            <p><i>Os campos obrigatorios atópanse en negriña</i></p>
            <p>Para os campos de ligazóns, engadir o número do compoñente</p>
            <table class="table">
                <tr>
                    <th>Nome</th><th>Tipo</th><th>Valor</th>
                </tr>
                <tr th:each="field: ${fields}">
                    <td th:if="${field.mandatory}"><label th:for="|field_${field.name}|"><strong th:text="|${field.name}|"></strong></label></td>
                    <td th:unless="${field.mandatory}"><label th:for="|field_${field.name}|" th:text="|${field.name}|"></label></td>
                    <td th:text="|${field.type}|"></td>
                    <td th:switch="${#strings.toString(field.type)}">
                        <div class="input-group mb-3">
                            <input th:case="'LINK'" th:name="|field_${field.name}|" th:id="|field_${field.name}|" type="number">
                            <input th:case="'DATETIME'" th:name="|field_${field.name}|" th:id="|field_${field.name}|" type="datetime-local">
                            <input th:case="'TEXT'" th:name="|field_${field.name}|" th:id="|field_${field.name}|" type="text">
                        </div>
                    </td>
                </tr>
            </table>

            <input class="btn btn-outline-primary" type="submit" value="Crear compoñente"/>
        </form>
    </main>
</body>
</html>