<!DOCTYPE html>
<html lang="gl" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>pleste: Novo modelo</title>
    <script src="js/newtemplate.js"></script>
    <th:block th:insert="~{includes}" />
</head>
<body>
    <header th:insert="~{header}"></header>
    <main class="container mt-5">
        <form method="POST">
            <label for="template_name">Nome:</label>
            <div class="input-group">
                <input class="form-control" type="text" required id="template_name" name="template_name" />
            </div>
            <label for="template_description">Descripción:</label>
            <div class="input-group">
                <textarea class="form-control" required id="template_description" name="template_description"></textarea>
            </div>
            <div id="fields">
                <button class="btn btn-outline-secondary mb-3 mt-3" type="button" onclick="appendField(false)">Crear novo campo</button>
                <div id="field_000" class="mt-2 mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text" title="Obrigatorio">
                                <input type="checkbox" id="field_000_mandatory" name="field_000_mandatory"/>
                            </div>
                        </div>
                        <input class="form-control" name="field_000_name" placeholder="Nome" />
                        <select class="custom-select" style="max-width: 20%" name="field_000_type">
                            <option>Texto libre</option>
                            <option>Ligazón</option>
                            <option>Data</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="removeField('000')">Borrar campo</button>
                        </div>
                    </div>
                </div>
            </div>
            <input class="btn btn-outline-primary mt-3" type="submit" value="Crear modelo" />
        </form>
    </main>
</body>
</html>